@{
    Page.Title = "osu!follow";
    Layout = "_Layoutmain.cshtml";
}



<head>
    <meta charset="UTF-8">	<!--El formato de caracteres que voy a permitir en mi sitio-->
    <meta name="keywords" content="osu!, follow, osu!follow, game, gaming, music">   <!--Palabras clave para que el buscador encuentre nuestro sitio-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="sources/osufollowlogo.png" />
    <style>
        #osulogo {
            width: 300px;
            height: 300px;
        }
    </style>
</head>

<!-- Button trigger modal -->


<!-- Modal -->


<body background="sources/backosufollow.png">
    <h1 id="welcomeTitle">Welcome to</h1>
    <a href="~/main.cshtml"> <img id="osulogo" src="sources/osufollowlogo.png" alt="osufollow"> </a>
</body>
